
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local('Roboto Light'), local('Roboto-Light'), url("../fonts/Roboto-Light.ttf") format('truetype');
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 100;
	src: local('Roboto Thin'), local('Roboto-Thin'), url("../fonts/Roboto-Thin.ttf") format('truetype');
}

@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 300;
	src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url("../fonts/Roboto-LightItalic.ttf") format('truetype');
}

/* Normal */
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local('Roboto Regular'), local('Roboto-Regular'), url("../fonts/Roboto-Regular.ttf") format('truetype');
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 400;
	src: local('Roboto Italic'), local('Roboto-Italic'), url("../fonts/Roboto-Italic.ttf") format('truetype');
}

/* Bold */
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Bold'), local('Roboto-Bold'), url("../fonts/Roboto-Bold.ttf") format('truetype');
}


body {
    font-family:"Roboto","Helvetica","Arial",sans-serif;
}

.mdl-navigation__link.is_active {
        background-color: #e0e0e0;
}

.mdl-navigation {
    padding-top:0 !important;
    height: calc(100% - 64px);
    display: flex;
    flex-direction: column;
}
#logout {
    margin-top: auto;
    border-top:1px solid #d4d4d4;
}

.mdl-navigation i{
    margin-right:10px;
}

.mdl-navigation a:first-child{
    border-top:1px solid #d4d4d4;
}

.mdl-layout__header p {
    margin-bottom:0;
    margin-left:10px;
}

.mdl-layout__header h2 {
    font-weight:100;
    font-size:25px;
}

.page-content {
    display:flex;
}

button i {
    margin-right:10px;
}
.nofound {
        margin:0px;
        font-size:15px;
        font-style:italic;
        text-align:center;
        color:#b9b9b9;
        margin: 0px;
        width: 100%;
}

.center-center {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: column;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.none {
    display:none;
}

.full {
    width:100%;
}

.error {
    padding: 20px;
    margin: 20px;
    border-radius: 2px;
    background: rgba(215, 44, 44, 0.5);
    color: red;
    text-align: center;
}