
.page-content {
    flex-direction:column;
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 1100px;
    margin: 0 auto;
    width: 90%;
}


.page-content h3 {
    margin:0;
}


#add {
    width: 300px;
    display: flex;
    min-height: 100%;
    box-sizing: border-box;
    flex-direction:column;
    background: white;
}

.nofound {
   margin-top:100px;
}

#action-add {
        margin-bottom: 0;
        margin-right: 0;
}

table {
    width:100%;
}

#table-out {
        width:100%;
        margin-top:20px;
}

#panel {
    background:rgb(255,171,64);
    padding: 10px;
}

.page-content {
    display:flex;
    flex-direction:row;
}

#contenant-info {
    margin-right:20px;
}

main {
    display: flex !important;
}

form {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

h6 {
    margin: 0;
    color: gray;
}